{% include "header.html" %}
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1635420280816-c0dc0ee8a7a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Successfully submitted!</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% include "footer.html" %}